.visible-xs{
	display: none !important;
}
.hidden-xs{
	display: block !important;
}
@media(max-width: 767px){
	.visible-xs{
		display: block !important;
	}
	.hidden-xs{
		display: none !important;
	}
}
@media(max-width: 1440px){
	html,body{
		font-size: 14px;
	}
}
@media(max-width: 1366px){
	html,body{
		font-size: 13px;
	}
}
@media(max-width: 1280px){
	html,body{
		font-size: 12px;
	}
}
@media(max-width: 1024px){
	html,body{
		font-size: 10px;
	}
	.content_box .overview_wrap{
	    padding: 1.5rem 2rem;
	}
}
@media(max-width: 767px){
	html,body{
		font-size: 14px;
	}
	.mobile_nav{
		display: block;
	}
	.dashboard_section .sidebar{
		display: block;
	    z-index: 9;
	    width: 100%;
	    left: -100%;
	}
	.dashboard_section .sidebar .close_nav{
		display: block;
	}
	.dashboard_section .sidebar .logo{
	    display: none;
	}
	.dashboard_section .sidebar .user_box img{
	    margin-top: 2.5rem;
	}
	.dashboard_section .sidebar .link_overflow{
	    height: 27.5vh;
	}
	.dashboard_section{
		padding: 0;
		padding-top: 4.5rem;
	}
	.content_box .table tr th{
	    padding: .75rem 1rem;
	    width: auto;
	}
	.content_box .table tr td{
	    padding: 1rem;
	}
	.content_box .table_type_head{
	    padding: .75rem 1rem;
	    margin-top: .5rem
	}
	.content_box .button_padding{
	    padding: 1rem;
	}
	.content_box .button_padding .btn_white{
	    margin-top: 0 !important;
	    width: 100%;
	}
	.content_box .overview_wrap .customer_img{
	    margin: auto;
	    display: block;
	    margin-bottom: 1.5rem;
	}
	.content_box .property_flex{
	    padding: 1rem;
	}
	.content_box .property_flex .accordion-body{
	    padding: 1rem 1rem;
	    padding-bottom: 0;
	}
	.content_box .document_wrap{
	    padding: 1rem;
	    margin-top: 0;
	}
	.upload_wrapper{
	    margin-bottom: 1rem;
	}
	.content_box .document_wrap .document_box{
	    width: 100%;
	    margin-bottom: 1rem;
	}
	.content_box .document_wrap .document_box:after{
	    border: 0;
	    border-bottom: 2px dashed #DBDBDB;
	    bottom: -1rem;
	    top: initial;
	    left: 0;
	    width: 100%;
	}
	.content_box .nav-tabs{
	    padding: 0 1rem;
	}
	.content_box .tab-pane{
	    padding: 1rem 2rem;
	}
	.content_box .mortgage_detail .detail_flex{
	    font-size: 1rem;
	}
	.content_box .mortgage_detail .document_wrap{
	    width: 100%;
	}
	.content_box .mortgage_detail .document_wrap .document_box:after{
	    border-bottom: 0;
	    border-right: 2px dashed #CCDCD1;
	}
	.dashboard h1{
		margin: 5rem 0;
		font-size: 2rem;
	}
	.content_box.report_wrap{
	    padding: 1.5rem;
	}
	.content_box.message_wrap {
	    display: block;
	}
	.content_box.message_wrap .messager_select{
	    width: 100%;
	    border-right: 0;
	    border-bottom: 2px dashed #6A8F76;
	}
	.content_box.message_wrap .messaging_wrap .message_box{
		height: 400px;
	}
	.content_box.message_wrap .messaging_wrap{
	    width: 100%;
	    padding: 2rem;
	}
	.modal-content .modal-body textarea.form-control{
		height: 300px;
	}
	.order{
		order: initial;
	}
	.content_box.profile_wrap .tab-pane{
		padding: 2rem 1rem;
	}
	.profile_wrap .referred_wrap{
	    margin-top: 2.5rem;
	    width: 100%;
	}
	.profile_wrap .contact_date_wrap{
	    width: 100%;
	    margin-bottom: 2rem;
	}
	.profile_wrap h4{
	    margin-top: 1rem;
	}
	.content_box .table_wrap2.m-10{
	    margin: 5rem 0
	}
	.content_box .user_status_flex{
	    justify-content: flex-start;
	    padding: 0 .5rem;
	    margin-bottom: 1rem;
	}
	.dashboard_section .dashboard .commission_wrap{
	    padding: 0 2rem;
	}
	.content_box .appointment_calendar{
	    padding: 0 1rem;
	    margin-top: 0;
	}
	.appointment_wrap{
	    padding: 1.5rem;
	}
}